extends ../layouts/mainLayout
block content
  - let genders = ["Male", "Female", "Other"]
  h2 Create new student
  form(action="/student/create" method="POST")
    div.form-group
      label(id="firstName") First Name
      input.form-control(type="text", placeholder="First Name", name="firstName")
    div.form-group
      label(id="lastName")  Last Name
      input.form-control(type="text", placeholder="Last Name", name="lastName")
    div.form-group
      label(id="email") Email
      input.form-control(type="text", placeholder="Email", name="email")
    div.form-group
      label(id="gender")  Gender
      br
      select.form-control(name="gender")
        each gender in genders
          option(value = gender) #{gender}

    br
    input.btn.btn-primary(type="submit")