extends ../layouts/mainLayout
block content
  .student
  h2 Update student
  form(action="/student/update" method="POST")
    input.form-control(type="hidden", name="_id", value=student._id)
    div.form-group
      label(id="firstName") First Name
      input.form-control(type="text", placeholder="First Name", name="firstName", value=student.firstName)
    div.form-group
      label(id="lastName")  Last Name
      input.form-control(type="text", placeholder="Last Name", name="lastName", value=student.lastName)
    div.form-group
      label(id="email") Email
      input.form-control(type="text", placeholder="Email", name="email", value=student.email)
    div.form-group
      label(id="gender")  Gender
      br
      select.form-control(name="gender")
        option(value="Male" selected=(student.gender == "Male") ) Male
        option(value="Female" selected=(student.gender == "Female") ) Female
        option(value="Other" selected=(student.gender == "Other") ) Other

    br
    input.btn.btn-primary(type="submit")